body{
    margin:auto;
    width: 90%;
}

body{
    font-family: "love", "pigopago", sans-serif;
}

body{
     background-color: aqua;
}
    
h2{
    font-size: 50px;
    text-align: center;
    font-family: "beauty";
}

p{
    font-size: 20px;
    text-align: center;
}

p2{
    font-size: 20px;
    text-align: center;
}